@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root{
    --color1: black;
    --color2: white;
    --color3: #3D5A83;
    --color4: #1A426B;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: 'Readex Pro', sans-serif;
}

.div__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div__header-text {
  font-size: 24px;
  padding-right: 50px;
}

.div__header-h {
  padding-right: 50px;
  width: 200px;
}

.div__header-p {
  padding-top: 15px;
  padding-right: 50px;
}

.div__header-img{
  padding-right: 20px;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li a,
li a {
  text-decoration: none;
  color: #000000;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.burger-menu span {
  height: 3px;
  width: 100%;
  background: rgb(0, 0, 0);
  display: block;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list-items{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 50px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 460px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

.text__card{
  width: 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.div__footer-1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 50px;
}

.div__footer-2 {
  width: 200px;
}

.div__footer-3 {
  padding-right: 50px;
}


